<div class="bg">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Welcome to Burger Paradise</h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-4">
            {{#each burgers}}
            {{#unless dataValues.devoured}}
            <p id="burgerItem">
                Burger Name: {{dataValues.burger_name}} <button class="devouredBtn btn btn-danger" data-id="{{dataValues.id}}" data-devour="{{dataValues.devoured}}">Devour!</button>
            </p>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-4">
            {{#each burgers}}
            {{#if dataValues.devoured}}
            <p>
                Devoured Burger: {{dataValues.burger_name}} <button  data-id="{{dataValues.id}}" class="86Btn btn btn-danger">86 it! We are Out</button>
            </p>
            {{/if}}
            {{/each}}
        </div>

        <div class="col-sm-1"></div>

    </div>

    <br>

    <div class="row">

        <div class="col-sm-1"></div>

        <div class=" inputBox col-sm-4">
            <p>Add a Burger</p>
            <input type="text" id="burgerName">
            <button id="addBurger" class="btn btn-primary">Add Burger!</button>
            <br>
        </div>
    </div>

</div>